<div class="knowledge_area">
<!--{if in_array($cid, $_G['validcate'])}-->
{$knowledge['content']}
<!--{else}-->
{lang aut:locked_message}
<!--{/if}-->
</div>


<link type="text/css" rel="stylesheet" href="{AUT_PATH}/syntaxhighlighter/styles/shCore.css" />
<link type="text/css" rel="stylesheet" href="{AUT_PATH}/syntaxhighlighter/styles/shThemeDefault.css" />
<script type="text/javascript" src="{AUT_PATH}/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="{AUT_PATH}/syntaxhighlighter/scripts/shAutoloader.js"></script>
<script type="text/javascript" src="{AUT_PATH}/js/highlightCode.js"></script>