
<div class="rank_area">
	<h1>{lang aut:pinyin_paihangbang}</h1>
	<div class="rank_list mtm">
		<table class="table table-bordered table-hover table-condensed" id="">
			<thead>
			<tr>
				<!-- <td width="5%">UID</td>-->
				<td width="">Username</td>
				<td width="">Problem solved</td>
				<td width="">Problem tried</td>
			</tr>
			</thead>
			<tbody>
			<!--{loop $user_list $val}-->
			<tr>
				<!-- <td>{$val['user_id']}</td> -->
				<td>{$val['user_name']}</td>
				<td>$val['solved']</td>
				<td>$val['did']</td>
			</tr>
			<!--{/loop}-->
			</tbody>
		</table>
		<div class="pagination pagination-right">
			<!--{eval include template('aut:common/perpage')}-->
		</div>
	</div>
</div>
<script type="text/javascript">var pageSize = {$perpage};</script>
